@import url(screen.css) screen, projection;

body {
  font-family: Georgia, serif;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

address, article, aside, audio, blockquote,
canvas, dl, fieldset, form, hr,
ol, p, pre, table, ul, video {
  margin: 1em 0;
}
